<h1>Le show</h1>

<div>
<p>Titre : <%= @gossip.title %></p>
<p>Contenu : <%= @gossip.content %></p>
<p>Prénom de l'auteur : <%= @gossip.user.first_name%></p>
<p>Nom de l'auteur : <%= @gossip.user.last_name%></p>
<p>Ville de l'auteur : <%= @gossip.user.city %></p>
</div>

<a href ="<%= edit_gossip_path%>" class = "btn btn-primary">Editer l'article</a>      
<a href ="<%= gossip_path %>" class = "btn btn-danger" data-method = "DELETE">Supprimer l'article</a>
<a href="<%= gossip_index_path%>"class = "btn btn-success">Revenir au menu<a>


<%= form_with(model: [ @gossip, @gossip.comments.build ], local: true) do |f| %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <div class="form-group">
    <label>Ton commentaire</label>
    <%= f.text_area :commenter, class: 'form-control' %><br />
  </div>
  
  <div class="form-group">
    <%= f.submit %> 
  <div>  
  
  <% end %>

   
<% @gossip.comments.each do |comment| %>
  <p>
    <strong>Commentaire:</strong>
    <%= comment.commenter %>
  </p>
  <% end %>

  
  
